<div id="logCard" class="card">
  <div class="text-center card-title">
    <h2>Login</h2>
  </div>
  <form class="form login-form">
  <div class="form-group">
    <label for="username-login">Username:</label>
    <input size="30" class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input size="30" class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button id="logFormBtn" class="btn btn-primary" type="submit">Login</button>
    <a id="link" href="/signup">Sign up instead</a>
  </div>
</form>
</div>

<script src="/js/login.js"></script>